input[type=text].counterInput {
  position: relative;
  height: 81px;
  width: 233px;
  display: flex;
  font-size: 34px;
  border: 1px solid #B9BED1;
  background-color: #F0F2F7;
  padding: 0 22px;
  font-family: montesrratRegular;
}
input[type=text].counterInput:focus {
  outline: none;
}

.counter,
.counter * {
  box-sizing: border-box;
}

.counter {
  position: relative;
}
.counter button {
  outline: none;
  background-color: transparent;
  padding: 12px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  z-index: 1;
}

.staticText {
  position: absolute;
  top: 32px;
  right: 90px;
  font-size: 20px;
  font-family: montesrratRegular;
}

.temperatureCounter input[type=text] {
  padding-left: 50px;
}
.temperatureCounter .staticText {
  top: 15px;
  left: 90px;
}

.incrementButton {
  top: 0;
  right: 10px;
  border: none;
  border-bottom: 1px solid #B9BED1;
}

.decrementButton {
  bottom: 0;
  right: 10px;
  border: none;
}

.fanButton {
  outline: none;
  background-color: #F0F2F7;
  padding: 0;
  cursor: pointer;
  width: 123px;
  height: 123px;
  border: 1px solid #E3E8F0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.batterRangeCalculator .fanButton .title {
  font-family: montesrratLight;
  font-size: 10px;
  color: #707070;
  padding-top: 20px;
}
.batterRangeCalculator .fanButton .title:focus, .batterRangeCalculator .fanButton .title:active {
  color: white;
}

.innerCircle {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.innerCircle:focus, .innerCircle:active {
  background-color: #008DFF;
  color: white;
}
.innerCircle .hide {
  display: none;
}

.batterRangeCalculator .fanButtonFormSection {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
@media (min-width: 768px) {
  .batterRangeCalculator .fanButtonFormSection {
    grid-column: span 2;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .batterRangeCalculator .fanButtonFormSection {
    height: 170px;
  }
}

.wheelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  cursor: pointer;
  height: 81px;
  width: 233px;
  padding: 12px;
  outline: none;
  border: 1px solid #B9BED1;
  background-color: #F0F2F7;
  font-size: 20px;
  font-family: montesrratRegular;
}
.wheelButton > * {
  pointer-events: none;
}
.wheelButton:focus, .wheelButton:active {
  border: 2px solid #008DFF;
}

.wheelButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wheelButtons .selected {
  border: 2px solid #008DFF;
}
@media (min-width: 768px) {
  .wheelButtons {
    flex-direction: row;
    gap: 42px;
  }
}

.formSection.wheels {
  grid-column: span 2;
}
@media (min-width: 1024px) {
  .formSection.wheels {
    align-items: center;
  }
}

.batterRangeCalculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.batterRangeCalculator .title {
  font-family: montesrratRegular;
  font-size: 20px;
}
@media (min-width: 768px) {
  .batterRangeCalculator .title {
    font-size: 38px;
  }
}
.batterRangeCalculator .innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.carImageContainer {
  position: relative;
  background-image: url("../images/car-base.png");
  background-size: cover;
  width: 700px;
  height: 200px;
}
@media (min-width: 768px) {
  .carImageContainer {
    background-image: url("../images/car-base@2x.png");
    width: 1400px;
    height: 388px;
  }
}
.carImageContainer .hide {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carWheelImageFront {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 30px;
  left: 178px;
  animation-name: rotate;
  animation-duration: 1ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (min-width: 768px) {
  .carWheelImageFront {
    bottom: 60px;
    left: 345px;
    width: 133px;
    height: 133px;
  }
}

.carWheelImageRear {
  position: absolute;
  bottom: 30px;
  right: 168px;
  width: 70px;
  height: 70px;
  animation-name: rotate;
  animation-duration: 1ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (min-width: 768px) {
  .carWheelImageRear {
    bottom: 60px;
    right: 370px;
    width: 133px;
    height: 133px;
  }
}

.distanceMeterList {
  width: 35%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.distancePerModel {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.modelName {
  width: 80px;
  height: auto;
}
@media (min-width: 768px) {
  .modelName {
    width: 146px;
    height: 23px;
  }
}

.kiloMeters {
  position: relative;
  color: #008DFF;
}

.distance {
  font-size: 20px;
  font-family: montesrratRegular;
}
@media (min-width: 768px) {
  .distance {
    font-size: 46px;
  }
}

.unit {
  position: absolute;
  top: 0;
  right: 0;
  font-family: montesrratLight;
  font-size: 10px;
}
@media (min-width: 768px) {
  .unit {
    right: -10px;
    font-size: 20px;
  }
}

.calculatorInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .calculatorInnerContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .calculatorInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  }
}
@media (min-width: 1400px) {
  .calculatorInnerContainer {
    gap: 42px;
  }
}

.divider {
  height: 128px;
  border-left: 1px solid #B9BED1;
  display: none;
}
@media (min-width: 1200px) {
  .divider {
    display: block;
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}
@media (min-width: 768px) {
  .formSection {
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .formSection {
    align-items: flex-start;
  }
}
.formSection .label {
  font-family: montesrratLight;
  font-size: 20px;
  color: #707070;
}
.formSection .title {
  margin: 0;
}/*# sourceMappingURL=batterRangeCalculator.css.map */